.container {
  flex-direction: row;
  display: flex;
}

.section-container {
  display: flex;
  margin: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.common-container {
  padding: 10px;
  background-color: #1d2026;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.chores-container {
  width: 50vw;
  height: 60vh;
}

.filter-container {
  width: 20vw;
}

.task-container {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.task-container:hover {
  background-color: #121417;
}

.task-sub-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.flip-move-container {
  margin-top: 20px;
  width: 80%;
  align-self: center;
}

.dialog-enter {
  opacity: 0.01;
  transform: scale(1.1);
}

.dialog-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 300ms;
}

.dialog-exit {
  opacity: 1;
  transform: scale(1);
}

.dialog-exit-active {
  opacity: 0.01;
  transform: scale(1.1);
  transition: all 300ms;
}

.filter-text {
  width: 100%;
}

.selected-criteria {
  color: #121417;
  background-color: white;
  border-radius: 4px;
}
.filter-text:hover {
  width: 100%;
  color: #121417;
  background-color: white;
  border-radius: 4px;
}

.MuiPaginationItem-root {
  color: white !important;
}
